<!-- footer lists -->
<!-- for viewpoint more than 768px -->
<mat-grid-list cols="5" rowHeight="5:1" class="footerGrid">
        <!-- place holder -->
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>Customer Support</mat-grid-tile>
        <mat-grid-tile>Service</mat-grid-tile>
        <mat-grid-tile>About Us</mat-grid-tile>
</mat-grid-list>

<!-- for smaller viewpoint -->
<!-- modified from https://material.angular.io/components/toolbar/examples -->
<!-- more information in readme file -->
<mat-toolbar class="footerList">
    <mat-toolbar-row>
        <h5>Customer Support</h5>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <h5>Service</h5>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <h5>About Us</h5>
    </mat-toolbar-row>
</mat-toolbar>
