<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Computer & Tablets</a></li>
      <li class="breadcrumb-item"><a href="#">Laptops</a></li>
      <li class="breadcrumb-item active" aria-current="page">Product Details</li>
    </ol>
</nav>
<h1 class="productName_19xJx" itemprop="name">HP 15.6" Laptop - Black (AMD A6-9225 Processor/1TB HDD/8GB RAM/Windows 10) - English</h1>
<div>
    <span itemprop="sku">Model Number: 15-db0108ca</span>
    <span itemprop="model">Web Code: 13617881</span>
</div>
<hr>

<div class="container">
    <!-- the col allows the page displays differently when viewpoint is bigger than 768px -->
    <!-- reference to BootStrap Grid https://getbootstrap.com/docs/4.3/layout/grid/-->
    <div class="row">
      <!-- product display section -->
      <div class="col-12 col-md-8 mt-2">
          <!-- here uses carousel with indicators component in Bootstrap4 https://getbootstrap.com/docs/4.3/components/carousel/#with-indicators -->
            <div id="productImage" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#productImage" data-slide-to="0" class="active"></li>
                      <li data-target="#productImage" data-slide-to="1"></li>
                      <li data-target="#productImage" data-slide-to="2"></li>
                      <li data-target="#productImage" data-slide-to="3"></li>
                      <li data-target="#productImage" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/image/product.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/image/product2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/image/product3.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/image/product4.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/image/product5.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#productImage" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#productImage" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
            </div>
            <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Overview</h5>
                      <p class="card-text">Surf the web, watch movies, and carry on your daily tasks efficiently with the HP 15.6'' laptop. It features 7th generation AMD A6-9225 processor and 8GB RAM, that enable you to multi-task efficiently. The 1TB hard drive provides ample space to store a sizeable collection of your photos, music, movies, videos, and more.</p>
                    </div>
            </div>                  
      </div>
      <!-- price section -->
      <div class="col-12 col-md-4 mt-2">
            <p class="price h1">$399</p>
            <div class="buttongroup">
                <button type="button" class="btn btn-warning btn-lg btn-block ">Add to cart</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Reserve In Store</button>
            </div>            
      </div>      
    </div>
</div>

<!-- specification section for viewpoint bigger than 768px-->
<!-- here modified from the Angular tabs overview example https://material.angular.io/components/tabs/overview -->
<!-- see readme file for more Information -->
<div class="container mt-5 specTabs">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="More Information">
            <ul>
                <li>7th generation AMD A6-9225 processor and 8GB of DDR4-SDRAM for high performance and smooth operation at premium speed</li>
                <li>1 TB hard drive with 5400rpm provides enough space to store your data, movies, music, and photos</li>
                <li>15.6'' diagonal HD SVA BrightView WLED-backlit screen with a 1366 x 768 resolution lets you enjoy vivid colours and crystal-clear view</li>
            </ul>
        </mat-tab>
        <mat-tab label="Details & Spec">
                <table class="table table-striped my-3">
                    <thead>
                        <tr><th><span class="h5">Display</span></th></tr>                        
                    </thead>
                    <tbody>
                        <!-- w3c validator warn this table while it is caused by using BootStrap 4 -->
                        <!-- here uses striped table component in Bootstrap4 https://getbootstrap.com/docs/4.3/content/tables/#striped-rows -->
                        <tr>
                            <th scope="row">Screen Size</th>
                            <td>15.6 in</td>
                        </tr>
                        <tr>
                            <th scope="row">Native Screen Resolution</th>
                            <td>1366 x 768</td>
                        </tr>
                        <tr>
                            <th scope="row">Touchscreen Display</th>
                            <td>No</td>
                        </tr>
                        <tr>
                            <th scope="row">Convertible/Hybrid Display</th>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="table table-striped my-3">
                    <thead>
                        <tr><th><span class="h5">Processor</span></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Processor Type</th>
                            <td>7th Generation AMD A6-9225 Processor</td>
                        </tr>
                        <tr>
                            <th scope="row">Processor Cores</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">Processor Speed</th>
                            <td>2.6 GHz</td>
                        </tr>
                        <tr>
                            <th scope="row">Processor Cache</th>
                            <td>1 MB</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="table table-striped my-3">
                    <thead>
                        <tr><th><span class="h5">Storage & Memory</span></th></tr>   
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Hard Disk Drive Capacity</th>
                            <td>1 TB</td>
                        </tr>
                        <tr>
                            <th scope="row">Hard Drive Speed (Revolutions Per Minute)</th>
                            <td>5400 rpm</td>
                        </tr>
                        <tr>
                            <th scope="row">RAM Size</th>
                            <td>8 GB</td>
                        </tr>
                        <tr>
                            <th scope="row">RAM</th>
                            <td>8 GB DDR4-1866 SDRAM</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="table table-striped my-3">
                        <thead>
                            <tr><th><span class="h5">Software</span></th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Pre-loaded Operating System</th>
                                <td>Windows 10 Home</td>
                            </tr>
                            <tr>
                                <th scope="row">Operating System Language</th>
                                <td>Bilingual</td>
                            </tr>
                        </tbody>
                </table>
        </mat-tab>
        <mat-tab label="What's Included">
                <ul>
                    <li>HP Laptop 15-Db0108Ca</li>
                    <li>3-Cell 41 Whr Polymer/Prismatic Mix Battery</li>
                    <li>45W AC Adapter</li>
                </ul>
        </mat-tab>
        <mat-tab label="Reviews">
                <div class="card-body">
                    <p class="card-text">
                        <span class="h1">3.41</span>
                        <mat-icon class="checked">star</mat-icon> 
                        <mat-icon class="checked">star</mat-icon> 
                        <mat-icon class="checked">star</mat-icon> 
                        <mat-icon>star_border</mat-icon> 
                        <mat-icon>star_border</mat-icon>
                    </p>
                    <p class="card-text"><small class="text-muted">Based on 1 rating</small>
                    </p>
                </div>
                <hr>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Used for Basic School work</h5>
                        <p class="card-text">Just purchased a week ago, works well but no CD drive. I guess it is good for the price.</p>
                        <p class="card-text"><small class="text-muted">by Ed<br>
                            from Winnipeg on November 3, 2019</small>
                        </p>
                    </div>
                </div>                
        </mat-tab>
        
        <mat-tab label="Return Policy">
                <table class="table table-striped my-3">
                    <tbody>
                        <tr>
                            <th scope="row">Product Category</th>
                            <td>Laptops</td>
                        </tr>
                        <tr>
                            <th scope="row">Return/Exchange Period</th>
                            <td>14 days</td>
                        </tr>
                        <tr>
                            <th scope="row">Condition</th>
                            <td>Opened</td>
                        </tr>
                    </tbody>
                </table>
        </mat-tab>
    </mat-tab-group>
</div>
<!-- specification section for viewpoint smaller than 768px-->
<!-- here uses accordion collapse with list component in Bootstrap4 https://getbootstrap.com/docs/4.3/components/collapse/#accordion-example -->
<div class="container mt-5 specCollapse">
        <div class="accordion" id="productDetails">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#info" aria-expanded="true" aria-controls="info">
                        More Information
                      </button>
                    </h2>
                  </div>
              
                  <div id="info" class="collapse" aria-labelledby="headingOne" data-parent="#productDetails">
                    <div class="card-body">
                            <ul>
                                <li>7th generation AMD A6-9225 processor and 8GB of DDR4-SDRAM for high performance and smooth operation at premium speed</li>
                                <li>1 TB hard drive with 5400rpm provides enough space to store your data, movies, music, and photos</li>
                                <li>15.6'' diagonal HD SVA BrightView WLED-backlit screen with a 1366 x 768 resolution lets you enjoy vivid colours and crystal-clear view</li>
                            </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#detail" aria-expanded="false" aria-controls="detail">
                        Detail & Spec
                      </button>
                    </h2>
                  </div>
                  <div id="detail" class="collapse" aria-labelledby="headingTwo" data-parent="#productDetails">
                    <div class="card-body">
                            <table class="table table-striped my-3">
                                <thead>
                                    <tr><th><span class="h5">Display</span></th></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Screen Size</th>
                                        <td>15.6 in</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Native Screen Resolution</th>
                                        <td>1366 x 768</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Touchscreen Display</th>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Convertible/Hybrid Display</th>
                                        <td>No</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <table class="table table-striped my-3">
                                <thead>
                                    <tr><th><span class="h5">Processor</span></th></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Processor Type</th>
                                        <td>7th Generation AMD A6-9225 Processor</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processor Cores</th>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processor Speed</th>
                                        <td>2.6 GHz</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processor Cache</th>
                                        <td>1 MB</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <table class="table table-striped my-3">
                                <thead>
                                    <tr><th><span class="h5">Storage & Memory</span></th></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Hard Disk Drive Capacity</th>
                                        <td>1 TB</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard Drive Speed (Revolutions Per Minute)</th>
                                        <td>5400 rpm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RAM Size</th>
                                        <td>8 GB</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RAM</th>
                                        <td>8 GB DDR4-1866 SDRAM</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <table class="table table-striped my-3">
                                    <thead>
                                        <tr><th><span class="h5">Software</span></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Pre-loaded Operating System</th>
                                            <td>Windows 10 Home</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Operating System Language</th>
                                            <td>Bilingual</td>
                                        </tr>
                                    </tbody>
                            </table>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#included" aria-expanded="false" aria-controls="included">
                        What's included
                      </button>
                    </h2>
                  </div>
                  <div id="included" class="collapse" aria-labelledby="headingThree" data-parent="#productDetails">
                    <div class="card-body">
                            <ul>
                                <li>HP Laptop 15-Db0108Ca</li>
                                <li>3-Cell 41 Whr Polymer/Prismatic Mix Battery</li>
                                <li>45W AC Adapter</li>
                            </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#review" aria-expanded="true" aria-controls="review">
                            Reviews
                        </button>
                        </h2>
                    </div>
                
                    <div id="review" class="collapse" aria-labelledby="headingFour" data-parent="#productDetails">
                        <div class="card-body">
                                <div class="card-body">
                                        <p class="card-text">
                                            <span class="h1">3.41</span>
                                            <mat-icon class="checked">star</mat-icon> 
                                            <mat-icon class="checked">star</mat-icon> 
                                            <mat-icon class="checked">star</mat-icon> 
                                            <mat-icon>star_border</mat-icon> 
                                            <mat-icon>star_border</mat-icon>
                                        </p>
                                        <p class="card-text"><small class="text-muted">Based on 1 rating</small>
                                        </p>
                                </div>
                                <hr>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Used for Basic School work</h5>
                                        <p class="card-text">Just purchased a week ago, works well but no CD drive. I guess it is good for the price.</p>
                                        <p class="card-text"><small class="text-muted">by Ed<br>
                                            from Winnipeg on November 3, 2019</small>
                                        </p>
                                    </div>
                                </div> 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#return" aria-expanded="false" aria-controls="return">
                            Return Policy
                        </button>
                        </h2>
                    </div>
                    <div id="return" class="collapse" aria-labelledby="headingFive" data-parent="#productDetails">
                        <div class="card-body">
                                <table class="table table-striped my-3">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Product Category</th>
                                            <td>Laptops</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Return/Exchange Period</th>
                                            <td>14 days</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Condition</th>
                                            <td>Opened</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

        </div>
</div>
